body{
/* color: red; */
  background: yellow;
}
a { /* color: yellow; border-bottom: 1px solid yellow; */}
header { margin-bottom: 10vw;}


@media screen {
  /*
h1 { font-family: "Austin", serif; font-weight: normal; font-size: 140px; line-height: 10vw; position:
 absolute; left: 0; text-align: center;  z-index: -1; mix-blend-mode: multiply; color: yellow;
transform: rotate(45deg); transform-origin: left center; line-height: 90%; } */

 .wrapper { width: 96%; max-width: 800px; margin-top: 2%; margin-left: 3%; }
 h3 { border-bottom: 1px dashed black; }
@media (min-width: 800px) {
    .wrapper.toc {  max-width: 96%; }

    .wrapper ul { columns: 2;  column-gap: 40px;  }
    }
    img { position: relative; z-index: -2; }

 }
