/* Really needs to be set straight in universal */
h1, h2, h3, h4 { margin: 0; }
h1 { margin-bottom: 2em;}
p, ol, table, .default ul {margin: 0; margin-bottom: 1em; }
strong { font-weight: bold; }
em { font-style: italic; }
blockquote, .default ul { margin-left: 10%; }
.post-meta { white-space: nowrap; }
.sheet { margin: 20px; }
@media print {
  .sheet { background: none; }
  body { background: none; }
  .page { background: none; }
}


    .default h3 + p {
        margin-top: 1em;
    }


    .default blockquote p, ol, ul { margin-top: 0;}
    .default a { padding-bottom: 3px; }
    .default p:nth-child(even) {padding-left: 10%; }
    .red { color: red;}

    h1, h2, h3, h4 { font-weight: normal;  }
    h1, h2 { color: red;  }
    .default h2 {  font-weight: normal; margin-left: 34px; }
    .default h3 { display: inline-block; margin-left: 10%; color: black; border-bottom: 1px solid black;  }
    .default h4 { margin-left: 10%; display: inline-block; font-style: italic; font-weight: normal;  }


    .bigtimes p { font-size: 2em; line-height: 130%; font-family: times; word-spacing: 0; }
    .chapter_head { display: block; margin-left: 20%; page-break-before: always; page-break-after: always; }
    a { /* color: yellow; border-bottom: 1px solid yellow; */}
    section { margin-bottom: 1em; }
    header { margin-bottom: 60px; margin-left: 3%;}
    header span {float: right; padding-right: 34px;  }
    header a.sitename { background: blue; color: white; }
    .toc h3 { text-transform: capitalize; }
    .toc h3 { text-indent: 0; color: red; mix-blend-mode: multiply; font-size: 210px; margin-top: 60px; position: relative; z-index: -1; }
    .toc .child img { mix-blend-mode: multiply; }


    .wrapper.toc a {
      border-bottom: 0;
      display:inline-block;
    }
      /*
    h1 { font-family: "Austin", serif; font-weight: normal; font-size: 140px; line-height: 10vw; position:
     absolute; left: 0; text-align: center;  z-index: -1; mix-blend-mode: multiply; color: yellow;
    transform: rotate(45deg); transform-origin: left center; line-height: 90%; } */

      .toc  img { position: relative; z-index: -2; }

     .parent {
       display: -webkit-flex; display: -webkit-box; display: -moz-box; display: -webkit-flex; display: -ms-flexbox; display: box;
       display: flex;
       -webkit-flex-direction: row; flex-direction: row;
       -webkit-flex-wrap: wrap; flex-wrap: wrap;
       margin-bottom: 60px;
       width: 100%;
     }

       .child, .parent.para_child p {
         margin-right:30px;
         min-height: 30px;
         -webkit-flex: 1 0 320px; flex: 1 0 320px;
         margin-bottom: 90px;
         min-height: 260px;
       }
    .margintop { margin-top: 60px; }
    table { width: 100%; }
    ol  { list-style-type: decimal; padding-left: 34px; }
    article ul li:before  { content: "* "; }

    tr { border-bottom: 1px dashed black; }
    .default tr td, .content tr td { padding: 4.25px 34px 4.25px 0 }

@media screen {
    /* All in screen right now */
    .wrapper { width: 96%; max-width: 800px; margin-top: 2%; margin-left: 3%; }

    @media (min-width: 800px) {
      .wrapper.toc {  max-width: 96%; }
    }


    body{
      background: yellow;
    }


    @media (max-width: 800px) {
      body {   font-size: 15px;
        line-height: 26px;
        }
    }

 }

 .forcebreak { page-break-after: always;  }
.bookurl { color: blue; font-size: 70%; margin-top: 2em; }
