<html>
  <head>
    {% include metadata.html %}
    {% include meyer_reset.html %}
    {% include universal_css.html %}
    {% include custom_css.html %}
    <title>{{ site.title }}: {{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <div class="wrapper default">
      {% if page.imgurl != '' %}
      	<img src="{{page.imgurl}}">
      {% endif %}
      <section>
        <h1>{{ page.title }}</h1>
        <span>{{ page.date | date: "%m-%d-%Y" }}{% if page.author %} • {{ page.author }}{% endif %}</span>
      </section>
      <article class="default">
        {{ content }}
      </article>
    </div>
  </body>
</html>
