<!DOCTYPE html>
<html>
  <head>
    {% include metadata.html %}
    {% include meyer_reset.html %}
    {% include universal_css.html %}
    {% include custom_css.html %}
    <title>{{ site.title }}</title>
  </head>

  <body>

    <!-- Output author details if some exist. -->
    {% include header.html %}
    <div class="wrapper toc">
      <div class="page-content">

        <div class="parent">
          {% for type in site.content_types %}
          <ul class="child">
          <h3>{{ type }}</h3>
          {{post.category}}
          {% for post in site.posts %}

            {% if post.content-type == type %}
            <li class="{{ post.content-type }}">
              {% if post.imgurl %}<a class="post-link" href="{{ post.url | prepend: site.github.url }}"><img src="{{ post.imgurl }}"></a>{% endif %}
              <a class="post-link" href="{{ post.url | prepend: site.github.url }}"> {{ post.title }}</a> {{ post.author }} <span class="post-meta agate">{{ post.date | date: "%Y-%m-%d" }}</span>
            <!--   <p>{{post.category}} / {{post.tag}}</p> -->
            </li>
            {% endif %}
          {% endfor %}
        </ul>
          {% endfor %}
        </div>
<!--
        <div style="clear:both">
          <a href="book.html" class="button makebook">MAKE BOOK</a>
        </div>-->

        <div class="parent agate para_child margintop">
            {{ content }}

            {{ site.description }}


      </div>

  </body>

</html>
